In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
# read data from csv

city_df = pd.read_csv("output_data/cities.csv")
city_df

,City_ID,city_name,Lat,Lon,wind,temp_max,humidity,country,date,cloud
0,0,Mayo,38.89,-76.51,3.36,35.01,71,US,1581231806,1
1,1,Grand Gaube,-20.01,57.66,11.41,82.99,65,MU,1581231806,40
2,2,Avarua,-21.21,-159.78,15.17,80.60,88,CK,1581231807,100
3,3,Shelburne,44.08,-80.20,6.93,16.00,72,CA,1581231623,75
4,4,Leningradskiy,69.38,178.42,22.10,-20.92,91,RU,1581231813,100
...,...,...,...,...,...,...,...,...,...,...
547,547,Lagoa,39.05,-27.98,21.39,62.13,86,PT,1581232002,100
548,548,Sarishabari,24.73,89.83,12.66,79.50,25,BD,1581232002,24
549,549,Nova Odesa,47.31,31.79,1.57,22.68,80,UA,1581232002,8
550,550,Manaus,-3.10,-60.02,2.24,78.80,78,BR,1581231884,91
551,551,Burnie,-41.07,145.92,5.99,64.00,74,AU,1581232002,83

In [3]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [4]:
# Define humidity
humidity = city_df["humidity"].astype(float)

In [5]:
# Use the Lat and Lon as locations

# Store latitude and longitude in locations
locations = city_df[["Lat", "Lon"]]
locations.head()

     Lat     Lon
0  38.89  -76.51
1 -20.01   57.66
2 -21.21 -159.78
3  44.08  -80.20
4  69.38  178.42

In [6]:
# Use humidity as the weight. Create a humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
city_df_nan = city_df[city_df.isna().any(axis=1)]
city_df_nan

,City_ID,city_name,Lat,Lon,wind,temp_max,humidity,country,date,cloud
71,71,Henties Bay,-22.12,14.28,1.01,64.00,90,NaN,1581231891,12
91,91,Luderitz,-26.65,15.16,5.82,66.20,72,NaN,1581231906,0
330,330,Rundu,-17.93,19.77,4.70,73.40,78,NaN,1581231971,71
447,447,Tsumeb,-19.23,17.72,4.70,69.80,32,NaN,1581231988,29
481,481,Khorixas,-20.37,14.97,4.79,68.16,43,NaN,1581231993,30

In [8]:
# take the NaNs out of cities dataframe
city_df.dropna(inplace=True)
city_df

,City_ID,city_name,Lat,Lon,wind,temp_max,humidity,country,date,cloud
0,0,Mayo,38.89,-76.51,3.36,35.01,71,US,1581231806,1
1,1,Grand Gaube,-20.01,57.66,11.41,82.99,65,MU,1581231806,40
2,2,Avarua,-21.21,-159.78,15.17,80.60,88,CK,1581231807,100
3,3,Shelburne,44.08,-80.20,6.93,16.00,72,CA,1581231623,75
4,4,Leningradskiy,69.38,178.42,22.10,-20.92,91,RU,1581231813,100
...,...,...,...,...,...,...,...,...,...,...
547,547,Lagoa,39.05,-27.98,21.39,62.13,86,PT,1581232002,100
548,548,Sarishabari,24.73,89.83,12.66,79.50,25,BD,1581232002,24
549,549,Nova Odesa,47.31,31.79,1.57,22.68,80,UA,1581232002,8
550,550,Manaus,-3.10,-60.02,2.24,78.80,78,BR,1581231884,91
551,551,Burnie,-41.07,145.92,5.99,64.00,74,AU,1581232002,83

In [9]:
# Add a "Hotel Name" column to the DataFrame and call the dataframe hotel_df

# SEE HOTEL NAME IN DF...
""
hotel_df = city_df.copy()
hotel_df["Hotel Name"] = ""
hotel_df

,City_ID,city_name,Lat,Lon,wind,temp_max,humidity,country,date,cloud,Hotel Name
0,0,Mayo,38.89,-76.51,3.36,35.01,71,US,1581231806,1,
1,1,Grand Gaube,-20.01,57.66,11.41,82.99,65,MU,1581231806,40,
2,2,Avarua,-21.21,-159.78,15.17,80.60,88,CK,1581231807,100,
3,3,Shelburne,44.08,-80.20,6.93,16.00,72,CA,1581231623,75,
4,4,Leningradskiy,69.38,178.42,22.10,-20.92,91,RU,1581231813,100,
...,...,...,...,...,...,...,...,...,...,...,...
547,547,Lagoa,39.05,-27.98,21.39,62.13,86,PT,1581232002,100,
548,548,Sarishabari,24.73,89.83,12.66,79.50,25,BD,1581232002,24,
549,549,Nova Odesa,47.31,31.79,1.57,22.68,80,UA,1581232002,8,
550,550,Manaus,-3.10,-60.02,2.24,78.80,78,BR,1581231884,91,
551,551,Burnie,-41.07,145.92,5.99,64.00,74,AU,1581232002,83,

In [10]:
# Create new DataFrame fitting weather criteria

# Narrow down the cities to fit weather conditions.- meaning?
# Drop any rows with null values. done, above


narrow_cities = city_df.loc[(city_df["temp_max"] < 72) & (city_df["temp_max"] > 70)].dropna()

narrow_cities

,City_ID,city_name,Lat,Lon,wind,temp_max,humidity,country,date,cloud
39,39,Kapaa,22.08,-159.32,19.46,71.60,56,US,1581231855,90
66,66,East London,-33.02,27.91,5.82,71.60,83,ZA,1581231879,20
81,81,Damara,4.96,18.70,2.24,71.60,78,CF,1581231899,20
86,86,Kharhial,20.28,82.77,7.34,70.05,68,IN,1581231902,88
92,92,Sao Filipe,14.90,-24.50,23.20,71.13,60,CV,1581231907,66
111,111,Hilo,19.73,-155.09,5.82,71.01,77,US,1581231926,75
123,123,Kindu,-2.95,25.95,4.21,71.91,97,CD,1581231933,74
156,156,Port Elizabeth,-33.92,25.57,5.82,71.60,83,ZA,1581231894,20
175,175,Baiao,-2.79,-49.67,2.51,71.19,99,BR,1581231948,100
260,260,Pasni,25.26,63.47,0.38,71.46,46,PK,1581231961,79
267,267,Plettenberg Bay,-34.05,23.37,0.74,70.95,82,ZA,1581231962,14
281,281,Vila do Maio,15.13,-23.22,18.34,71.60,60,CV,1581231964,50
313,313,Diu,20.71,70.98,19.93,70.79,60,IN,1581231968,4
324,324,Wanaka,-44.70,169.15,1.01,71.01,43,NZ,1581231970,0
340,340,Rio Brilhante,-21.80,-54.55,3.91,70.27,98,BR,1581231973,2
380,380,Aripuana,-9.17,-60.63,2.21,70.09,97,BR,1581231978,99
403,403,Amapa,1.00,-52.00,2.33,70.07,98,BR,1581231981,98
413,413,Sao Joao do Piaui,-8.36,-42.25,0.47,71.10,96,BR,1581231982,100
480,480,Ormara,25.21,64.64,5.03,70.16,57,PK,1581231993,38
483,483,Marsh Harbour,26.54,-77.06,20.78,71.01,76,BS,1581231993,87
532,532,Presidente Medici,-11.18,-61.90,2.51,70.92,98,BR,1581232000,100

In [11]:
# params dictionary to update each iteration
params = {
    "radius": 50000,
    "types": "lodging",
    "key": g_key
}

# Use the lat/lng we recovered to identify hotels
#for index, row in cities_pd.iterrows():
for index, row  in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lon"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    

    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [12]:
hotel_df

,City_ID,city_name,Lat,Lon,wind,temp_max,humidity,country,date,cloud,Hotel Name
0,0,Mayo,38.89,-76.51,3.36,35.01,71,US,1581231806,1,Kimpton Hotel Monaco Washington DC
1,1,Grand Gaube,-20.01,57.66,11.41,82.99,65,MU,1581231806,40,The Ravenala Attitude Hotel
2,2,Avarua,-21.21,-159.78,15.17,80.60,88,CK,1581231807,100,Little Polynesian Resort
3,3,Shelburne,44.08,-80.20,6.93,16.00,72,CA,1581231623,75,"Hockley Valley Resort - Golf, Spa and Ski"
4,4,Leningradskiy,69.38,178.42,22.10,-20.92,91,RU,1581231813,100,
...,...,...,...,...,...,...,...,...,...,...,...
547,547,Lagoa,39.05,-27.98,21.39,62.13,86,PT,1581232002,100,Hotel SÃ£o Jorge Garden
548,548,Sarishabari,24.73,89.83,12.66,79.50,25,BD,1581232002,24,Grameenphone Customer Care
549,549,Nova Odesa,47.31,31.79,1.57,22.68,80,UA,1581232002,8,Nikotel
550,550,Manaus,-3.10,-60.02,2.24,78.80,78,BR,1581231884,91,Hotel do Largo
551,551,Burnie,-41.07,145.92,5.99,64.00,74,AU,1581232002,83,Beachfront Voyager Motor Inn

In [13]:
# NOTE: Do not change any of the code in this cell. CODE GIVEN TO US FROM GIT LAB

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city_name}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [14]:
# Add marker layer ontop of heat map
marker_add = gmaps.marker_layer(locations,info_box_content="hotel_info")
fig.add_layer(marker_add)

fig


# Display Map

Figure(layout=FigureLayout(height='420px'))