In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [26]:
# read data from csv

cities = pd.read_csv("output_data/cities.csv")
cities

,City_ID,Lat,Lon,wind,temp_max,humidity,country,date,cloud
0,0,40.28,97.20,3.65,28.89,29,CN,1580790228,0
1,1,78.22,15.64,6.93,-2.20,53,SJ,1580790067,40
2,2,71.29,-156.79,6.93,-29.20,97,US,1580790035,1
3,3,35.25,140.38,4.70,52.00,62,JP,1580790228,75
4,4,70.63,147.92,7.72,-17.14,97,RU,1580790228,100
...,...,...,...,...,...,...,...,...,...
576,576,48.06,33.29,8.95,28.40,86,UA,1580790318,0
577,577,39.18,-84.53,9.17,62.60,39,US,1580790167,40
578,578,32.44,105.82,2.64,48.99,84,CN,1580790318,89
579,579,-5.20,-35.46,4.70,78.80,88,BR,1580790318,75
580,580,41.76,86.15,1.61,21.22,38,CN,1580790318,0

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [16]:
cities.dtypes

City_ID       int64
Lat         float64
Lon         float64
wind        float64
temp_max    float64
humidity      int64
country      object
date          int64
cloud         int64
dtype: object

In [14]:
# Define humidity
humidity = cities["humidity"].astype(float)

In [17]:
cities.dtypes

City_ID       int64
Lat         float64
Lon         float64
wind        float64
temp_max    float64
humidity      int64
country      object
date          int64
cloud         int64
dtype: object

In [15]:
type(humidity)

pandas.core.series.Series

In [5]:
# Use the Lat and Lon as locations

# Store latitude and longitude in locations
locations = cities[["Lat", "Lon"]]
locations.head()

     Lat     Lon
0  40.28   97.20
1  78.22   15.64
2  71.29 -156.79
3  35.25  140.38
4  70.63  147.92

In [6]:
# Use humidity as the weight. Create a humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
cities_nan = cities[cities.isna().any(axis=1)]
cities_nan

,City_ID,Lat,Lon,wind,temp_max,humidity,country,date,cloud
118,118,-22.96,14.51,5.01,63.00,93,NaN,1580789662,33
155,155,-22.12,14.28,5.01,63.00,93,NaN,1580790249,86
498,498,-26.65,15.16,22.48,62.98,94,NaN,1580790306,0
499,499,-18.06,13.84,4.88,70.41,56,NaN,1580790306,100

In [25]:
cities[cities.isna().any(axis=1)]
cities

,City_ID,Lat,Lon,wind,temp_max,humidity,country,date,cloud
0,0,40.28,97.20,3.65,28.89,29,CN,1580790228,0
1,1,78.22,15.64,6.93,-2.20,53,SJ,1580790067,40
2,2,71.29,-156.79,6.93,-29.20,97,US,1580790035,1
3,3,35.25,140.38,4.70,52.00,62,JP,1580790228,75
4,4,70.63,147.92,7.72,-17.14,97,RU,1580790228,100
...,...,...,...,...,...,...,...,...,...
576,576,48.06,33.29,8.95,28.40,86,UA,1580790318,0
577,577,39.18,-84.53,9.17,62.60,39,US,1580790167,40
578,578,32.44,105.82,2.64,48.99,84,CN,1580790318,89
579,579,-5.20,-35.46,4.70,78.80,88,BR,1580790318,75
580,580,41.76,86.15,1.61,21.22,38,CN,1580790318,0

In [31]:
# Add a "Hotel Name" column to the DataFrame
cities["Hotel Name"] = cities.count(axis=1)
cities

,City_ID,Lat,Lon,wind,temp_max,humidity,country,date,cloud,Hotel Name
0,0,40.28,97.20,3.65,28.89,29,CN,1580790228,0,10
1,1,78.22,15.64,6.93,-2.20,53,SJ,1580790067,40,10
2,2,71.29,-156.79,6.93,-29.20,97,US,1580790035,1,10
3,3,35.25,140.38,4.70,52.00,62,JP,1580790228,75,10
4,4,70.63,147.92,7.72,-17.14,97,RU,1580790228,100,10
...,...,...,...,...,...,...,...,...,...,...
576,576,48.06,33.29,8.95,28.40,86,UA,1580790318,0,10
577,577,39.18,-84.53,9.17,62.60,39,US,1580790167,40,10
578,578,32.44,105.82,2.64,48.99,84,CN,1580790318,89,10
579,579,-5.20,-35.46,4.70,78.80,88,BR,1580790318,75,10
580,580,41.76,86.15,1.61,21.22,38,CN,1580790318,0,10

In [28]:
# Set parameters to search for hotels with 5000 meters

In [32]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Log"]]

NameError: name 'narrowed_city_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display Map