In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [18]:
# read data from csv

city_df = pd.read_csv("output_data/cities.csv")
city_df

,City_ID,city_name,Lat,Lon,wind,temp_max,humidity,country,date,cloud
0,0,Antofagasta,-23.65,-70.40,12.75,75.20,53,CL,1580926933,20
1,1,Hithadhoo,-0.60,73.08,13.91,83.23,81,MV,1580927006,98
2,2,Vilcun,-38.65,-72.23,11.41,71.01,40,CL,1580927065,40
3,3,Ishigaki,24.34,124.16,25.14,66.56,76,JP,1580927065,93
4,4,Kavaratti,10.57,72.64,6.82,81.00,72,IN,1580927009,1
...,...,...,...,...,...,...,...,...,...,...
548,548,Sao Caetano de Odivelas,-0.75,-48.02,6.33,79.47,92,BR,1580927163,85
549,549,Xihe,31.69,113.47,7.70,45.61,80,CN,1580927163,95
550,550,Zalukokoazhe,43.90,43.22,8.95,37.40,69,RU,1580927163,100
551,551,Hurghada,27.26,33.81,8.50,68.00,52,EG,1580927163,0
552,552,Wysokie Mazowieckie,52.92,22.52,7.16,30.00,79,PL,1580926948,0

In [3]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [4]:
# Define humidity
humidity = cities["humidity"].astype(float)

In [5]:
# Use the Lat and Lon as locations

# Store latitude and longitude in locations
locations = cities[["Lat", "Lon"]]
locations.head()

     Lat     Lon
0 -23.65  -70.40
1  -0.60   73.08
2 -38.65  -72.23
3  24.34  124.16
4  10.57   72.64

In [6]:
# Use humidity as the weight. Create a humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
cities_nan = cities[cities.isna().any(axis=1)]
cities_nan

,City_ID,city_name,Lat,Lon,wind,temp_max,humidity,country,date,cloud
217,217,Luderitz,-26.65,15.16,14.99,69.8,73,NaN,1580927103,5
266,266,Henties Bay,-22.12,14.28,5.99,66.0,91,NaN,1580927113,30
493,493,Opuwo,-18.06,13.84,13.44,77.0,51,NaN,1580926954,70

,City_ID,city_name,Lat,Lon,wind,temp_max,humidity,country,date,cloud
0,0,Antofagasta,-23.65,-70.40,12.75,75.20,53,CL,1580926933,20
1,1,Hithadhoo,-0.60,73.08,13.91,83.23,81,MV,1580927006,98
2,2,Vilcun,-38.65,-72.23,11.41,71.01,40,CL,1580927065,40
3,3,Ishigaki,24.34,124.16,25.14,66.56,76,JP,1580927065,93
4,4,Kavaratti,10.57,72.64,6.82,81.00,72,IN,1580927009,1
...,...,...,...,...,...,...,...,...,...,...
548,548,Sao Caetano de Odivelas,-0.75,-48.02,6.33,79.47,92,BR,1580927163,85
549,549,Xihe,31.69,113.47,7.70,45.61,80,CN,1580927163,95
550,550,Zalukokoazhe,43.90,43.22,8.95,37.40,69,RU,1580927163,100
551,551,Hurghada,27.26,33.81,8.50,68.00,52,EG,1580927163,0
552,552,Wysokie Mazowieckie,52.92,22.52,7.16,30.00,79,PL,1580926948,0

In [9]:
# take the NaNs out of cities dataframe
cities.dropna(inplace=True)
cities

,City_ID,city_name,Lat,Lon,wind,temp_max,humidity,country,date,cloud
0,0,Antofagasta,-23.65,-70.40,12.75,75.20,53,CL,1580926933,20
1,1,Hithadhoo,-0.60,73.08,13.91,83.23,81,MV,1580927006,98
2,2,Vilcun,-38.65,-72.23,11.41,71.01,40,CL,1580927065,40
3,3,Ishigaki,24.34,124.16,25.14,66.56,76,JP,1580927065,93
4,4,Kavaratti,10.57,72.64,6.82,81.00,72,IN,1580927009,1
...,...,...,...,...,...,...,...,...,...,...
548,548,Sao Caetano de Odivelas,-0.75,-48.02,6.33,79.47,92,BR,1580927163,85
549,549,Xihe,31.69,113.47,7.70,45.61,80,CN,1580927163,95
550,550,Zalukokoazhe,43.90,43.22,8.95,37.40,69,RU,1580927163,100
551,551,Hurghada,27.26,33.81,8.50,68.00,52,EG,1580927163,0
552,552,Wysokie Mazowieckie,52.92,22.52,7.16,30.00,79,PL,1580926948,0

In [15]:
# Add a "Hotel Name" column to the DataFrame and call the dataframe hotel_df

# SEE HOTEL NAME IN DF...
""
hotel_df = cities.copy()
hotel_df["Hotel Name"] = ""
hotel_df

,City_ID,city_name,Lat,Lon,wind,temp_max,humidity,country,date,cloud,Hotel Name
0,0,Antofagasta,-23.65,-70.40,12.75,75.20,53,CL,1580926933,20,
1,1,Hithadhoo,-0.60,73.08,13.91,83.23,81,MV,1580927006,98,
2,2,Vilcun,-38.65,-72.23,11.41,71.01,40,CL,1580927065,40,
3,3,Ishigaki,24.34,124.16,25.14,66.56,76,JP,1580927065,93,
4,4,Kavaratti,10.57,72.64,6.82,81.00,72,IN,1580927009,1,
...,...,...,...,...,...,...,...,...,...,...,...
548,548,Sao Caetano de Odivelas,-0.75,-48.02,6.33,79.47,92,BR,1580927163,85,
549,549,Xihe,31.69,113.47,7.70,45.61,80,CN,1580927163,95,
550,550,Zalukokoazhe,43.90,43.22,8.95,37.40,69,RU,1580927163,100,
551,551,Hurghada,27.26,33.81,8.50,68.00,52,EG,1580927163,0,
552,552,Wysokie Mazowieckie,52.92,22.52,7.16,30.00,79,PL,1580926948,0,

In [27]:
# Create new DataFrame fitting weather criteria

# Narrow down the cities to fit weather conditions.- meaning?
# Drop any rows with null values. done, above


narrow_cities = city_df.loc[(city_df["temp_max"] < 72) & (city_df["temp_max"] > 70)].dropna()

narrow_cities

,City_ID,city_name,Lat,Lon,wind,temp_max,humidity,country,date,cloud
2,2,Vilcun,-38.65,-72.23,11.41,71.01,40,CL,1580927065,40
6,6,Cape Town,-33.93,18.42,6.93,71.01,72,ZA,1580926802,75
41,41,Nanakuli,21.39,-158.15,2.37,71.60,88,US,1580927071,75
59,59,Banda Aceh,5.56,95.32,4.79,70.45,92,ID,1580927075,31
140,140,Hilo,19.73,-155.09,6.93,71.01,77,US,1580927089,90
142,142,Oyem,1.60,11.58,2.95,71.49,91,GA,1580927090,62
143,143,Jinka,5.65,36.65,3.13,70.34,72,ET,1580927090,67
207,207,Viedma,-40.81,-63.00,16.64,71.33,42,AR,1580926940,20
337,337,Makakilo City,21.35,-158.09,2.37,71.60,88,US,1580927125,75
425,425,Vadamadurai,10.47,78.08,5.68,70.57,79,IN,1580927141,48
431,431,Bac Lieu,9.29,105.72,8.10,71.56,80,VN,1580927142,28
438,438,Shakawe,-18.37,21.85,3.06,71.29,81,BW,1580927143,98
449,449,Ixtapa,20.70,-105.20,5.08,71.60,88,MX,1580927124,90
502,502,Senanga,-16.12,23.27,4.52,71.78,84,ZM,1580927155,100
530,530,Mazatlan,23.22,-106.42,11.41,71.60,68,MX,1580927121,40

In [30]:
# params dictionary to update each iteration
params = {
    "radius": 50000,
    "types": "lodging",
    "key": g_key
}

# Use the lat/lng we recovered to identify hotels
#for index, row in cities_pd.iterrows():
for index, row  in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lon"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    

    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [31]:
hotel_df

,City_ID,city_name,Lat,Lon,wind,temp_max,humidity,country,date,cloud,Hotel Name
0,0,Antofagasta,-23.65,-70.40,12.75,75.20,53,CL,1580926933,20,Holiday Inn Express Antofagasta
1,1,Hithadhoo,-0.60,73.08,13.91,83.23,81,MV,1580927006,98,"Shangri-La's Villingili Resort & Spa, Maldives"
2,2,Vilcun,-38.65,-72.23,11.41,71.01,40,CL,1580927065,40,Holiday Inn Express Temuco
3,3,Ishigaki,24.34,124.16,25.14,66.56,76,JP,1580927065,93,フサキビーチリゾート ホテル＆ヴィラズ
4,4,Kavaratti,10.57,72.64,6.82,81.00,72,IN,1580927009,1,Hotels in Lakshadweep Islands
...,...,...,...,...,...,...,...,...,...,...,...
548,548,Sao Caetano de Odivelas,-0.75,-48.02,6.33,79.47,92,BR,1580927163,85,Ecomangue Pousada
549,549,Xihe,31.69,113.47,7.70,45.61,80,CN,1580927163,95,Luoyang Restaurant
550,550,Zalukokoazhe,43.90,43.22,8.95,37.40,69,RU,1580927163,100,Sanatorium Plaza
551,551,Hurghada,27.26,33.81,8.50,68.00,52,EG,1580927163,0,Beach Albatros Resort
552,552,Wysokie Mazowieckie,52.92,22.52,7.16,30.00,79,PL,1580926948,0,Hotel Gromada Lomza

In [33]:
# NOTE: Do not change any of the code in this cell. CODE GIVEN TO US FROM GIT LAB

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city_name}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [35]:
# Add marker layer ontop of heat map
marker_add = gmaps.marker_layer(locations,info_box_content="hotel_info")
fig.add_layer(marker_add)

fig


# Display Map

Figure(layout=FigureLayout(height='420px'))